{% extends "home/header.html" %}

   {% load staticfiles %}

{% block title %}
    home
{% endblock %}

{% block content %}
        <br>
<h1>hello here is the homepage</h1>
<a href="https://www.w3schools.com/">w3school</a>

                <main >
                {% block main %}{% endblock %}
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                </main>

{% endblock %}
