{% extends "home/header.html" %}

   {% load staticfiles %}

{% block title %}
    home
{% endblock %}

{% block content %}

        <br>
<h1>hello here is the homepage</h1>
<a href="https://www.w3schools.com/">w3school</a>


<h2> Web apps</h2>
<iframe width="854" height="480" src="https://www.youtube.com/embed/nusgoj74a3Y" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>




                <main >
                {% block main %}
                    {% endblock %}

                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                     <p>som</p>
                    <p>som</p>
                    <p>som</p>
                    <p>som</p>
                </main>

{% endblock %}
