
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="personal website">
    <meta name="author" content="Juan Li">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">

        {% load staticfiles %}

    <!--bootstrap css-->
 	<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}" type="text/css"/>

    <!--jquery for boostrap javascript plugin-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="{% static 'home/js/3.2.1 jquery.min.j' %}"></script>-->
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'home/js/header.js' %}"></script>

    <!--image-->
    <link rel="shortcut icon" href="{% static 'home/img/favicon.ico' %}" type="image/x-icon"/>

    <title>JuanLi|{% block title %}{% endblock %}</title>
</head>

<style>
     h1 {
    color:black;
    font-size:3em;
    }

    .navbar-brand {
    padding-left:2cm
    }
    a:hover {
    color: red;
    }

    #content {
    margin: 1.5cm;
    }

    <!--.panel {-->
    <!--margin-top:1.6cm;-->
    <!--padding-right:1.5cm;-->
    <!--width: 270px;-->
    <!--}-->

    #sidebar {
    position: fixed;
    margin-right:1.5cm;
    background-color: #f6f6f6;
    width: 300px;
    height:100%;
    }


</style>


<body>
       <nav class="navbar navbar-inverse center" data-spy="affix">
           <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/about/"><font color="red">ABOUT</font><font color="#D4AC0D">JuanLi</font></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/project/">PROJECT</a><li>
                        <li><a href="/cv/">CV</a></li>
                        <li><a href="/blog/">BLOG</a></li>
                        <li><a href="/contact/">CONTACT</a></li>
                    </ul>
                </div>
            </div>
       </nav>

     <div id="content">
        <div class="col-sm-10">
            {% block content %} {% endblock %}
        </div>
        <div class="col-sm-2">
            <div id = 'sidebar'>
             <h4>TAGS</h4>
             {% for element in tag_count %}
             <a href="/blog/tag/{{ element.tag }}">{{ element.tag }}</a> ({{ element.count }})<br>
             {% endfor %}
             <br>
             <h4>ARCHIVE</h4>
             {% for element in year_count %}
             <a href="/blog/{{ element.year }}">{{ element.year }}</a> ({{ element.count }})<br>
             {% endfor %}
            </div>
        </div>
     </div>



	<footer class="footer">
		<div class="container-fluid" style='margin-left:15px'>
            <p>Copy right &copy; {%now "Y"%} Juan Li &middot;</p>
		</div>
	</footer>
</body>
</html>









