{% extends "blog/post/base.html" %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% load staticfiles %}

{% block content %}
 {% for post in posts %}
<h2>{{ post.title }}</h2>
Update: {{ post.updated|date:"Y-m-d" }}&nbsp;&nbsp;
Publish: {{ post.publish|date:"Y-m-d" }}&nbsp;&nbsp;
Tags:
    {% for tag in post.tag_list %}
    <a href="/blog/tag/{{ tag }}">{{ tag }} </a>
    {% endfor %}&nbsp;&nbsp;<br>
<p>{{ post.body|safe|linebreaks }}</p>
<br>

<!--<h4><a href="/blog/share/{{ post.id }}">Share this post by e-mail</a></h4>-->
{% load social_share %}
{% post_to_facebook object_or_url "Post to Facebook!" %}
{% post_to_twitter "Nice post: {{object.title}}. Check it out!" object_or_url "Post to Twitter" %}
{% post_to_gplus object_or_url "Post to Google+!" %}
{% post_to_linkedin object.title object_or_url "Post to LinkedIn" %}
{% send_email object.title "Nice post {{object.title}}. Check it out!" object_or_url "Share via email" %}

<br>
<h4>{{ similar_posts_count }} similar post{{ similar_posts_count|pluralize }}</h4>
    {% for post in similar_posts %}
        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
    {% endfor %}<br>

<h4>{{ comment_count }} comment{{ comment_count|pluralize }}</h4>
{% for comment in comments %}
    <div class="comment" style="background-color: ">
        <p>Comment {{ forloop.counter }} by <strong>{{ comment.name }}</strong>  {{ comment.created|date:"Y-m-d" }}</p>
        {{ comment.body|linebreaks }}
    </div>
{% empty %}
There is no comment yet.
{% endfor %}

{% endfor %}<br>
<h4>Add a new comment</h4>
<form action="" method="post">
      {{ form.as_p }}
      {% csrf_token %}
    <button type="submit">Submit</button>
</form>
<br>
<br>
<br>
<br>
<br>
{% endblock %}

